@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

/*Body and overall properties of the DOM*/
body    {
    background-color: #2e2e2e;
}

#title, #score, p  {
    font-family: 'Wallpoet';
    color: #ffffff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/*---Player properties---
Player field */
.hands  {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* Player hands */
#rock   {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 150px;
    width: 150px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

#paper  {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 150px;
    width: 150px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

#scissors   {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 150px;
    width: 150px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

button:hover    {
    transform: scale(1.1);
    transition: 100ms;
    color: #ffffff;
}

/* Reset Button */
#reset  {
    background-color: #b90000;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 2.5px solid;
}

/*---Computer properties---
COM field*/
#verusPanel   {
    display: flex;
    justify-content: center;
}
/* COM hand/Button */
#com, #user  {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 768px)    {

    #title  {
        font-size: 30px;
    }

    #rock, #paper, #scissors, #reset {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 120px;
    width: 120px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    }

    img {
        height: 95px;
        width: 95px;
        border-radius: 50%;
        border: 2.5px solid;
    }
}

@media screen and (max-width: 440px)    {

    #title  {
        font-size: 20px;
    }

    #rock, #paper, #scissors, #reset {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 100px;
    width: 100px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    }

    img {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 2.5px solid;
    }
}