@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

/*Body and overall properties of the DOM*/
body    {
    background-color: #2e2e2e;
}

#title  {
    font-family: 'Wallpoet';
    color: #ffffff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/*---Player properties---
Player field */
.hands  {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* Player hands */
#rock   {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 150px;
    width: 150px;
}

#paper  {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 150px;
    width: 150px;
}

#scissors   {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 150px;
    width: 150px;
}

/* Reset Button */
#reset  {
    background-color: #b90000;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 2.5px solid;
}

/*---Computer properties---
COM field*/
#comHands   {
    display: flex;
    justify-content: center;
}
/* COM hand/Button */
#com  {
    background-color: #b90000;
    border-radius: 50%;
    border: 2.5px solid;
    height: 200px;
    width: 200px;
}