@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

/*Body and overall properties of the DOM*/
body    {
    background-color: #2e2e2e;
}

#title {
    font-family: 'Wallpoet';
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#score, #result  {
    font-family: 'Wallpoet';
    color: #ffffff65;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

p  {
    font-family: 'Wallpoet';
    color: #ffffff;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/*---Player properties---
Player field */
.hands  {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* Player hands */
#rock   {
    background-color: #b90000;
    border-radius: 50%;
    border: 5px solid #b90000;
    height: 150px;
    width: 150px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    background: url(../images/rock.png) no-repeat center bottom;
    background-size: 102%;
    object-fit: cover;
    background: linear-gradient(225deg);
    box-shadow: -10px 10px 20px #333333, 10px -10px 20px #111111;
}

#paper  {
    background-color: #b90000;
    border-radius: 50%;
    border: 5px solid #b90000;
    height: 150px;
    width: 150px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    background: url(../images/paper.png) no-repeat center bottom;
    background-size: 102%;
    object-fit: cover;
    background: linear-gradient(225deg);
    box-shadow: -10px 10px 20px #333333, 10px -10px 20px #111111;
}

#scissors   {
    background-color: #b90000;
    border-radius: 50%;
    border: 5px solid #b90000;
    height: 150px;
    width: 150px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    background: url(../images/scissors.png) no-repeat center bottom;
    background-size: 102%;
    object-fit: cover;
    background: linear-gradient(225deg);
    box-shadow: -10px 10px 20px #333333, 10px -10px 20px #111111;
}

button:hover    {
    transform: scale(1.1);
    transition: 100ms;
    color: #ffffff;
}

/* Reset Button */
#reset  {
    background-color: #b90000;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background: linear-gradient(225deg);
    box-shadow: -10px 10px 20px #333333, 10px -10px 20px #111111;
}

/*---Computer properties---
COM field*/
#verusPanel   {
    display: flex;
    justify-content: center;
}
/* COM hand/Button */
#comHand, #userHand  {
    border-radius: 20%;
    border: 5px solid #b90000;
    height: 200px;
    width: 200px;
    background: linear-gradient(225deg);
    box-shadow: -10px 10px 20px #333333, 10px -10px 20px #111111;
}

#comHand    {
    transform: scaleX(-1);
}

#modalBackground    {
    background-color: #000000bb;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

#modalWindow {
    background-color: #2e2e2e;
    border-radius: 25px;
    height: 75%;
    width: 80%;
}

.modalTitle {
    font-family: 'Wallpoet';
}

.modalText  {
    font-family: 'Wallpoet';
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 768px)    {

    #title {
        font-size: 30px;
    }

    #score, #result  {
        font-size: 20px;
    }

    #rock, #paper, #scissors, #reset    {
        background-color: #b90000;
        border-radius: 50%;
        border: 2.5px solid;
        height: 120px;
        width: 120px;
        margin: 0 5px 0 5px;
        cursor: pointer;
    }

    #userHand, #comHand {
        border-radius: 20%;
        border: 5px solid #b90000;
        height: 180px;
        width: 180px;
        margin: 0 5px 0 5px;
    }

    img {
        height: 95px;
        width: 95px;
        border-radius: 50%;
        border: 2.5px solid;
    }
}

@media screen and (max-width: 470px)    {

    #title  {
        font-size: 20px;
    }

    #result  {
        font-size: 15px;
    }

    #rock, #paper, #scissors, #reset    {
        border-radius: 50%;
        border: 2.5px solid #b90000;
        height: 100px;
        width: 100px;
        margin: 0 5px 0 5px;
        cursor: pointer;
    }

    #userHand, #comHand  {
        border-radius: 20%;
        border: 5px solid #b90000;
        height: 125px;
        width: 125px;
        margin: 0 5px 0 5px;
        }

    img {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 2.5px solid;
    }
}